<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
  <div class="scoreboard">
    <div class="banner">
      <div class="title">FoozballUltra9000</div>
      <div class="subtitle">Best Ball 2017</div>
      <!--<div class="subtitle">End Week {{currentWeek}}</div>-->
      <div class="week-selection">
        <select v-model="selectedWeek">
          <option v-for="option in weekOptions" v-bind:value="option.value">
            {{ option.text }}
          </option>
        </select>
      </div>
      <div class="column-headers">
        <div class="team">Team</div>
        <div class="points">Points</div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="team-rankings">
      <div class="team-row" v-for="(team, index) in sortedTeamsForWeek" v-on:click="selectTeam(team.getTeamID())">
        <div class="team-info">
          <div class="team-name">{{team.getTeamName()}}</div>
          <div class="owner-name">{{team.getOwnerName()}}</div>
        </div>
        <div class="total-score">
          <div>{{team.getBestTotalScoreToWeek(selectedWeek)}}</div>
          <div class="points-back" v-if="index !== 0">
            <span v-if="index === 1">Points back:</span>
            {{getPointsBack(team.getBestTotalScoreToWeek(selectedWeek))}}
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="team-row" >
        <div class="team-info">
          <div class="owner-name"><strong>*** Disclaimer ***</strong></div>
          <div class="owner-name">Scores are subject to change if I find/fix any bugs</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  // @flow
  import Team from '../domain/team'
  import _ from 'lodash'
  import router from '../router/index'
  import {currentWeek} from '../domain/roster'

  export default {
    name: 'Scoreboard',
    data () {
      return {
        weekOptions: [
          {value: '0', text: 'Week 1'},
          {value: '1', text: 'Week 2'},
          {value: '2', text: 'Week 3'},
          {value: '3', text: 'Week 4'},
          {value: '4', text: 'Week 5'},
          {value: '5', text: 'Week 6'},
          {value: '6', text: 'Week 7'},
          {value: '7', text: 'Week 8'},
          {value: '8', text: 'Week 9'},
          {value: '9', text: 'Week 10'},
          {value: '10', text: 'Week 11'},
          {value: '11', text: 'Week 12'},
          {value: '12', text: 'Week 13'}
        ],
        selectedWeek: this.getStartingWeek()
      }
    },
    computed: {
      allTeams: Team.GetAllTeams,
      sortedTeams: function () {
        return _.sortBy(this.allTeams, (team: Team) => {
          return -team.getBestTotalScore()
        })
      },
      sortedTeamsForWeek: function () {
        return _.sortBy(this.allTeams, (team: Team) => {
          return -team.getBestTotalScoreToWeek(this.selectedWeek)
        })
      },
      firstPlaceScore: function () {
        return this.sortedTeamsForWeek[0].getBestTotalScoreToWeek(this.selectedWeek)
      }
    },
    watch: {
      selectedWeek: function (week:number) {
        this.$router.push({
          query: {
            week: week
          }
        })
      }
    },
    methods: {
      selectTeam: function (teamID:string) {
        router.push({
          name: 'TeamDetails',
          params: {
            teamID: teamID
          },
          query: {
            week: this.selectedWeek
          }
        })
      },
      getStartingWeek: function () {
        if (this.$route.query.week && this.$route.query.week.length > 0 && this.$route.query.week < 13) {
          return this.$route.query.week
        }
        return currentWeek
      },
      getPointsBack: function (points:number) {
        return _.round(points - this.firstPlaceScore, 2)
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  select {
    /*display: block;*/
    padding: 10px 70px 10px 13px !important;
    max-width: 100%;
    height: auto !important;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    background: url("https://image.ibb.co/iMeAJv/selectbox_arrow.png") right center no-repeat;
    background-color: #fff;
    color: #444444;
    font-size: 50px;
    /*line-height: 16px !important; */
    appearance: none;
    /* this is must */
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .scoreboard {
    text-align: center;
  }

  .banner {
    width: 100%;
    background-color: #4367D4;
    color: #FFF;
    padding-top: 25px;
    box-shadow: 0px 7px 5px 0px rgba(204,202,204,1);
  }

  .banner .title {
    font-size: 80px;
  }

  .banner .subtitle {
    font-size: 60px;
    padding-bottom: 20px;
    font-weight: lighter;
  }

  .banner .week-selection {
    background-color: #fff;
    color: #48D96D;
    font-size: 70px;
    font-weight: lighter;
    padding-top:20px;
    padding-bottom:20px;
  }

  .banner .column-headers {
    background-color: #fff;
    color: #B2B5BB;
    font-size: 50px;
    font-weight: lighter;
    padding-top:20px;
    padding-bottom:20px;
  }

  .banner .column-headers .team {
    display: inline-block;
    float: left;
    padding-left: 45px;
  }

  .banner .column-headers .points {
    display: inline-block;
    float: right;
    padding-right: 45px;
  }

  .team-rankings {

  }

  .team-row {
    font-size: 40px;
    width: 100%;
    display: inline-block;
    border-bottom: thin gray solid;
    color: #696d73;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .team-row:first-child {
    padding-top: 60px;
  }

  .team-row .team-info {
    display: inline-block;
    float: left;
    padding-left: 45px;
    font-size: 60px;
    text-align: left;
  }

  .team-row .team-info .team-name {

  }

  .team-row .team-info .owner-name {
    color: #B2B5BB;
    font-weight: lighter;
    font-size: 40px;
  }

  .team-row .total-score {
    display: inline-block;
    float: right;
    padding-right: 45px;
    font-size: 60px;
    font-weight: lighter;
    text-align: right;
  }

  .team-row .total-score .points-back {
    color: #B2B5BB;
    font-weight: lighter;
    font-size: 40px;
    text-align: right;
  }
</style>
