<template xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
  <div class="team-details">
    <div class="banner">
      <div class="team-name">{{team.getTeamName()}}</div>
      <div class="owner-name">{{team.getOwnerName()}}</div>
      <div class="week-selection">
        <div class="team-nav">
          <!--<div class="prev-team-button" v-on:click="prevTeam()">Prev</div>-->
          <div class="back-button" v-on:click="backToScoreboard()">Back</div>
          <!--<div class="next-team-button" v-on:click="nextTeam()">Next</div>-->
          <div class="clearfix"></div>
        </div>
        <select v-model="selectedWeek">
          <option v-for="option in weekOptions" v-bind:value="option.value">
            {{ option.text }}
          </option>
        </select>
      </div>
      <div class="column-headers">
        <div class="player">Player</div>
        <div class="position">Position</div>
        <div class="points">Points</div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="players">
      <div class="player-row" v-for="player in startingPlayers">
        <div class="player-info">
          <div class="name">{{player.getDisplayName()}}</div>
          <div class="position">{{player.getPlayerInfo()}}</div>
        </div>
        <div class="roster-position">{{player.getRosterPosition()}}</div>
        <div class="score">{{player.getScoreForWeek(selectedWeek)}}</div>
        <!--<div class="score">{{player.getTotalScore()}}</div>-->
        <div class="clearfix"></div>
      </div>
      <div class="player-row">
        <div class="player-info">
          <div class="name">Total Score</div>
          <div class="position">Based on best possible lineup for the given week</div>
        </div>
        <div class="roster-position"></div>
        <div class="score">{{bestScoreForWeek}}</div>
        <div class="clearfix"></div>
      </div>
      <div class="player-row" v-for="player in benchedPlayers">
        <div class="player-info">
          <div class="name">{{player.getDisplayName()}}</div>
          <div class="position">{{player.getPlayerInfo()}}</div>
        </div>
        <div class="roster-position"></div>
        <div class="score">{{player.getScoreForWeek(selectedWeek)}}</div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</template>

<script>
  // @flow
  import Player from '../domain/player'
  import Team from '../domain/team'
  import _ from 'lodash'
  import {currentWeek} from '../domain/roster'
  import router from '../router/index'

  export default {
    name: 'TeamDetails',
    props: ['teamID'],
    data: function () {
      return {
        team: Team.NewTeamFromID(this.teamID),
        selectedWeek: this.getStartingWeek(),
        weekOptions: [
          {value: '0', text: 'Week 1'},
          {value: '1', text: 'Week 2'},
          {value: '2', text: 'Week 3'},
          {value: '3', text: 'Week 4'},
          {value: '4', text: 'Week 5'},
          {value: '5', text: 'Week 6'},
          {value: '6', text: 'Week 7'},
          {value: '7', text: 'Week 8'},
          {value: '8', text: 'Week 9'},
          {value: '9', text: 'Week 10'},
          {value: '10', text: 'Week 11'},
          {value: '11', text: 'Week 12'},
          {value: '12', text: 'Week 13'}
        ]
      }
    },
    methods: {
      getStartingWeek: function () {
        if (this.$route.query.week && this.$route.query.week.length > 0 && this.$route.query.week < 13) {
          return this.$route.query.week
        }
        return currentWeek
      },
      backToScoreboard: function () {
        router.push({
          name: 'Scoreboard',
          query: {
            week: this.selectedWeek
          }
        })
      },
      prevTeam: function () {
        let sortedTeams = this.sortedTeamsForWeek
        let indexOfCurrentTeam = _.findIndex(sortedTeams, (team:Team) => {
          return team.getTeamID() === this.teamID
        })

        let newTeamID = ''
        if (indexOfCurrentTeam === 0) {
          newTeamID = sortedTeams[sortedTeams.length - 1].getTeamID()
        } else if (indexOfCurrentTeam === sortedTeams.length) {
          newTeamID = sortedTeams[0].getTeamID()
        } else {
          newTeamID = sortedTeams[indexOfCurrentTeam - 1].getTeamID()
        }
        console.log('going to team', newTeamID)
        router.go({
          name: 'TeamDetails',
          params: {
            teamID: newTeamID
          },
          query: {
            week: this.selectedWeek
          }
        })
      },
      nextTeam: function (teamID:string) {
        router.push({
          name: 'TeamDetails',
          params: {
            teamID: teamID
          },
          query: {
            week: this.selectedWeek
          }
        })
      }
    },
    computed: {
      allTeams: Team.GetAllTeams,
      allPlayers: function () {
        if (this.team !== undefined) {
          return this.team.getBestRosterForWeek(this.selectedWeek)
        }
        return []
      },
      startingPlayers: function () {
        let startingPlayers = []
        _.forEach(this.allPlayers, (player:Player) => {
          if (player.getRosterPosition() !== 'BENCH') {
            startingPlayers.push(player)
          }
        })
        return startingPlayers
      },
      benchedPlayers: function () {
        let benchedPlayers = []
        _.forEach(this.allPlayers, (player:Player) => {
          if (player.getRosterPosition() === 'BENCH') {
            benchedPlayers.push(player)
          }
        })
        return benchedPlayers
      },
      bestScoreForWeek: function () {
        return _.round(this.team.getBestRosterScoreForWeek(this.selectedWeek), 2)
      },
      sortedTeamsForWeek: function () {
        return _.sortBy(this.allTeams, (team: Team) => {
          return -team.getBestTotalScoreToWeek(this.selectedWeek)
        })
      }
    },
    watch: {
      selectedWeek: function (week:number) {
        this.$router.push({
          query: {
            week: week
          }
        })
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  select {
    /*display: block;*/
    padding: 10px 70px 10px 13px !important;
    max-width: 100%;
    height: auto !important;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    background: url("https://image.ibb.co/iMeAJv/selectbox_arrow.png") right center no-repeat;
    background-color: #fff;
    color: #444444;
    font-size: 50px;
    /*line-height: 16px !important; */
    appearance: none;
    /* this is must */
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .team-details {
    text-align: center;
  }

  .banner {
    width: 100%;
    background-color: #4367D4;
    color: #FFF;
    padding-top: 25px;
    box-shadow: 0px 7px 5px 0px rgba(204,202,204,1);
  }

  .banner .team-name {
    font-size: 80px;
  }

  .banner .owner-name {
    font-size: 60px;
    padding-bottom: 20px;
    font-weight: lighter;
  }

  .banner .column-headers {
    background-color: #fff;
    color: #B2B5BB;
    font-size: 50px;
    font-weight: lighter;
    padding-top:20px;
    padding-bottom:20px;
  }

  .banner .week-selection {
    background-color: #fff;
    font-size: 70px;
    font-weight: lighter;
    padding-top:20px;
    padding-bottom:20px;
    padding-left: -300px;
  }

  .banner .week-selection .team-nav {
    color: #444444;
    margin-bottom: 10px;
  }

  .banner .week-selection .team-nav .prev-team-button {
    float: left;
    width: 30%;
    text-align: left;
    padding-left: 5%;
  }

  .banner .week-selection .team-nav .back-button {
    float: left;
    width: 30%;
    text-align: center;
  }

  .banner .week-selection .team-nav .next-team-button {
    float: left;
    width: 30%;
    text-align: right;
    padding-right: 5%;
  }

  .banner .column-headers .player {
    display: inline-block;
    float: left;
    text-align: left;
    padding-left: 45px;
    width: 50%;
  }

  .banner .column-headers .position {
    display: inline-block;
    float: left;
    text-align: left;
  }

  .banner .column-headers .points {
    display: inline-block;
    float: right;
    padding-right: 45px;
  }

  .players {

  }

  .player-row {
    font-size: 40px;
    width: 100%;
    display: inline-block;
    border-bottom: thin gray solid;
    color: #696d73;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .player-row:first-child {
    padding-top: 60px;
  }

  .player-row .player-info {
    display: inline-block;
    float: left;
    padding-left: 45px;
    font-size: 60px;
    text-align: left;
    width:50%;
  }

  .player-row .player-info .name {

  }

  .player-row .player-info .position {
    color: #B2B5BB;
    font-weight: lighter;
    font-size: 40px;
  }

  .player-row .roster-position {
    display: inline-block;
    float: left;
    font-weight: lighter;
    font-size: 85px;
    text-align: left;
  }

  .player-row .score {
    display: inline-block;
    float: right;
    padding-right: 45px;
    font-size: 85px;
    font-weight: lighter;
  }
</style>
