<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-color: #fefefe;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
</style>
